@page
@model ContosoUniversity.Pages.Leaverequests.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Leaverequest</h4>
<hr />
<div>
    <div>
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Leaverequest.Reason" class="control-label">Reason</label>
                <textarea asp-for="Leaverequest.Reason" class="form-control" rows="3"></textarea>
                <span asp-validation-for="Leaverequest.Reason" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Leaverequest.Type" class="control-label">Leave Type</label>
                <select name="LeaveType" asp-items="Html.GetEnumSelectList<ContosoUniversity.Models.Leaverequest.LeaveType>()" class="form-control"></select>
                <span asp-validation-for="Leaverequest.Type" class="text-danger"></span>
            </div>
            <div class="row mb-3">
                <div class="col-md-6">
                    <label asp-for="Leaverequest.StartDate" class="control-label">Start of leave</label>
                    <input type="date" asp-for="Leaverequest.StartDate" class="form-control" />
                    <span asp-validation-for="Leaverequest.StartDate" class="text-danger"></span>
                </div>
                <div class="col-md-6">
                    <label asp-for="Leaverequest.EndDate" class="control-label">End of leave</label>
                    <input type="date" asp-for="Leaverequest.EndDate" class="form-control" />
                    <span asp-validation-for="Leaverequest.EndDate" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
