@page
@model ContosoUniversity.Pages._404Model
@{
    ViewData["Title"] = "Page not Found";
}


<div class="container">
    <div class="text-center pt-5">
        <div class="logo">
            <h1>404</h1>
        </div>
        <p class="lead text-muted">Oops, an error has occurred. Page not found!</p>
        <br>
        <div class="btn-group btn-group-justified">
            <a href="/" class="btn btn-primary">Return Website</a>
        </div>
    </div>
</div>